@model ContatoModel;
@{
    ViewData["Title"] = "Confirmação de Apagar o Contatos";
}

<div class="text-center">
    <h3>Realmente deseja apagar o Contato (@Model.Nome)?</h3>
</div>

<a class="btn btn-primary btn-block-custom" role="button" asp-asp-controller="Contato" asp-action="Index">Concelar Exclusão</a>
<a class="btn btn-danger btn-block-custom" role="button" asp-action="Apagar" asp-controller="Contato" asp-route-id="@Model.Id">Confirmar Exclusão</a>