@{
    ViewData["Title"] = "Privacidade e Proteção de Dados de Acordo com a LGPD";
}
<h1>@ViewData["Title"]</h1>

<p>Nosso site está comprometido em respeitar a privacidade dos usuários de acordo com a LGPD. 
    Seguimos as diretrizes da legislação brasileira, garantindo transparência, obtenção de consentimento, 
    minimização de dados, segurança, respeito aos direitos dos titulares e uso legítimo das informações pessoais. 
    Não compartilhamos dados sem consentimento, exceto em casos legais ou necessários para serviços contratados.
    Se houver dúvidas, estamos disponíveis para esclarecimentos. Valorizamos a confiança depositada em nós e 
    trabalhamos para proteger a privacidade dos usuários em conformidade com a LGPD.
</p>
